html, body {
    background-image: url('../images/forest.png');
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin:0px; padding:0px;
    background-size: cover;
    overflow:hidden;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
}

player {
    width: 122ox; 
    height: 52px;
    background-image: url('../images/player-mini.png');
}

.flipped {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

basket {
    width: 69px; 
    height: 55px;
    background-image: url('../images/basket-mini.png');
}

apple {
    width: 23px; 
    height: 26px;
    background-image: url('../images/apple-mini.png');
}

border {
    width: 100vw;
    height: 100px;
    background-image: url('../images/ground.png');
}

ui {
    font-size:80px;
    text-shadow: 8px 8px 0px black;
    color:white;
    padding:20px;
    width:100%;
    text-align: center;
}

endscreen {
    width: 2316px;
    height: 1239px;
    background-image: url('../images/ground.png');
}

.startButton {
    background-color: #009300;
    border: 5px solid #003B00;
    color: white;
    padding: 10px 130x;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: fixed;
    bottom: 50%;
    right: 40%;
}
